:root{
    --skin-color:#839248;
    --skin-color-change:#01407a;
    --skin-color-clear-1: rgba(9, 84, 134, 0.3);
    --skin-color-clear: rgba(96, 134, 9, 0.3);
   
}

.logobox_imagen
{
    background-image: url('../../imagenes/ninnalogoamarillo.png');
    width: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 150px;
}
